<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friends</title>
    <link rel="stylesheet" href="../css/addFriend.css">
    <script src ="JS/addFriend.js"></script>
</head>
<body>
    <h1>Add Friends</h1>
    <form action="/FriendAdd" method="POST" onsubmit="return validateForm()">
        <label for="friendID">Friend ID:</label>
        <input type="text" id="friendID" name="friendID">
        <input type="submit" value="Add Friend">
    </form>
    <a href="/friendpage">Back to Friend Page</a>

    <script>
    // Client-side validation for the form
    // Must check for empty fields, input is 8 digit number.
    function validateForm() {
        const friendID = document.getElementById("friendID").value;

        if (friendID.trim() === "") {
            alert("Friend ID must not be empty.");
            return false;
        }

        /*if (!/^\d{5}$/.test(friendID)) {
            alert('Friend ID must be an 5-digit number.');
            return false;
        }*/

        popUpMessage();
        return true;

    }

    // Pop-up message to confirm friend request sent
    function popUpMessage() {
        alert("Friend request sent!");
    }
    
    </script>

    <h1>Incoming Requests</h1>
    <div class="friend_request_list" id="incomingRequests">
        <!-- Incoming requests will be displayed here -->
    </div>

    <h1>Outgoing Requests</h1>
    <div class="friend_request_list" id="outgoingRequests">
        <!-- Outgoing requests will be displayed here -->
    </div>
</body>
</html>