<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>
    <link rel="stylesheet" href="../css/account_settings.css">
    <script src ="JS/account_settings.js"></script>
</head>
<body>
    <div id="header">
        <h4>User Settings</h4>
    </div>
    <div class="container">
        <div class="button-container">
            <button class="btn" id="change-password" onclick="window.location.href='change_password.ejs'">Change Password</button>
            <button class="btn" id="change-username" onclick="window.location.href='change_username.ejs'">Change Username</button>
            <button class="btn" id="change-email" onclick="window.location.href='change_email.ejs'">Change Email</button>
        </div>
        <div class="form-container">
            <form action="/updateEmail" method="POST">
                <div>
                    <label for="new-email"><b>New Email</b></label>
                    <input type="text" placeholder="Enter New Email" id="new-email" name="new-email" required>
                </div>
                <div>
                    <label for="confirm-email"><b>Confirm New Email</b></label>
                    <input type="text" placeholder="Confirm New Email" name="confirm-email" required>
                </div>
                <div class = btn-container>
                    <button type="submit" class="btn_submit">Change</button>
                    <button type="cancel" class="btn_cancel">Close</button>
                </div>
            </form>            
        </div>
    </div>
</body>
</html>