<!DOCTYPE html>
<html>
<head>
    <title>Voice Call</title>
</head>
<body>
    <h1>Voice Call Room</h1>
    <div id="usersInCall"></div>
    <button id="leaveCallButton">Leave Call</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/voiceCall.js"></script>
</body>
</html>
