body {
    background-color: #7785cc;
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: Arial, sans-serif;
}

.button-container {
    display: block;
    justify-content: space-around;
    margin-left: 15%;
}

.button-container button {
    width: 10%;
    text-align: left;
}

.btn {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #7785cc;
    border: none;
}

.container {
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

}