html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #7785cc;
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: Arial, sans-serif;
}

#header {
    /* border: 1px red solid; */
    width: 100%;
    margin-left: 20%;
}

.container {
    display: flex;
    width: auto;
    height: 90%;
    /* border: 1px red solid; */
}

.button-container {
    justify-content: space-around;
    margin-left: 20%;
    /* border: red 1px solid; */
}

.btn {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #7785cc;
    /* border: 1px red solid; */
}

.form-container {
    width: 35%;
    height: 35%;
    margin: 5%;
    padding: 20px;
    background-color: gray;
    border: 5px, black, solid;

}

/* Form CSS */
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-container {
    text-align: center;
}

.btn_submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.btn_cancel {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn_submit:hover,
.btn_cancel:hover {
    opacity: 0.8;
}