body {
    background-color: #7785cc;
    margin: 0;
    padding-top: 1%;
    padding-left: 2%;
    font-family: Arial, sans-serif;
}

.button-container {
    display: block;
    justify-content: space-around;
    margin-left: 15%;
}

.button-container button {
    width: 10%;
    text-align: left;
}

.btn {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #7785cc;
    border: none;
}

.container {
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

}

/* Form CSS */
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-container {
    text-align: center;
}

.btn_submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.btn_cancel {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn_submit:hover,
.btn_cancel:hover {
    opacity: 0.8;
}