.friend_list {
    border-right: 3px solid grey;
    width: 20%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    position: fixed;
    padding: 1%;
    background-color: #424549;
    color: rgb(255, 250, 241);
}

.friend_list h2 {
    text-align: center;
    margin-bottom: 5%;
}

.friend_list_module {
    /* border: 3px solid grey; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1%;
    margin-bottom: 1%;
}

.friend_list_module img {
    height: 50px;
    width: auto;
}

.friend_list_footer  {
    border: 3px solid grey;
    background-color: #424549;
    color:rgb(255, 250, 241);
    position: fixed;
    bottom: 0;
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1%;
}

.friend_list_footer img {
    height: 50px; 
    width: auto;
}

.friend_list_footer h3 {
    margin-right: 5px;
}

.friend_list_footer button {
    margin-left: auto;
    transform: scale(0.8);
}

#messageDisplayContainer {
    /* border: 1px solid red; */
    background-color: #646faa;
    width: 80%;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    
}
#messageForm input[type="text"],
#messageForm button {
    background: linear-gradient(to bottom, #32363a, #424549); /* Gradient background */
    color: #f2f2f2;
    border-top: lightgray 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#messageForm input[type="text"] {
    background-color: #424549;
    color: white;
    border-top: lightgray 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#messageForm button {
    background-color: #424549;
    color: white;
    border-top: lightgray 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#messageForm{
    width: calc(100% - 300px);
}

.mt-3{
    width: 20%;
    position: fixed;
    bottom: 0;
    left: 20%;
    padding: 10px;
}
.message{
    overflow-wrap: break-word;
    background-color: #646faa;
    color: white;
    border-top: lightgray 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
}
